textarea:focus,
input[type="text"]:focus,
.uneditable-input:focus {
    border-color: rgba(89, 179, 173, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(89, 179, 173, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(89, 179, 173, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(89, 179, 173, 0.6);
}


.btn-facebook a{
    color: #fff;
    text-decoration: none ;
}
.btn-facebook a:visited{
    color: #fff;
}
.btn-facebook a:hover{
    color: #fff;
}
.btn-facebook{
    background-color: #354c8c;
    color:#FFF;
}

.tl-container{
    background:url("../images/background_home.png") no-repeat;
    background-size: cover;
    height: 450px;
   
}
.cover-img {
    width: 100%;
}
.top-buffer{
    margin-top: 15px;
}

.navbar-default ul > li > a {
    font-size: 15px;
    font-weight: 500;
}

.jumbotron {
    padding-top: 115px !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    background-color: transparent !important;
}

.navbar-nav {
    margin:17px -15px !important;
}

img {
    max-width: 100%;
}

.t1-content {
    padding-top: 7%;
    color: #fff;
}
.t1-content h2{
    font-size: 1.7em;
    font-weight: 400 !important;
}

.t4-content {
    padding-top: 5px;
    color: #fff;
}
.t4-content h3{
    font-size: 1.5em;
    font-weight: 400 !important;
    padding-bottom: 15px;
}

.t1-search{
    padding-top: 3%;
}

.t1-btn {
    margin-top: 18px;
    color: #fff;
    width: 125px;
    border: solid 1px #fff;
    border-radius: 3px;
    padding: 5px;
    background-color: Transparent;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;
}

.t1-btn:hover {
    color: #fff;
    background: #59b3ad;
    -moz-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;

}
#carousel-t2{
    min-height: 500px;
    color: #fff;
    background-color: #59b3ad;
}

.t3-content{
    min-height: 450px;
    background-color: #fff;
}
.tl-footer{
    min-height: 75px;
    background-color: #465955;
    position:relative;
}
.text-footer{
    font-weight: 500;
    color: #fff;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;

}
.thumbnail:hover{
    outline: 2px #59b3a2 solid;

}

.tl-item h4 {
    height: 70px;
    font-weight: normal;
}

.tl-item img {
    height: 230px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.fluxo-explicacao{
    min-height: 350px;

}

.fluxo-explicacao img{
    width: 100%;
}
.seta{
    padding-top: 20px;
}
.tira-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.espaco-entre-fluxo{
    min-width: 4.175%;
    max-width: 4.175%;
    float: left;
    position: relative;
    min-height: 1px;
}


@media (max-width: 767px) {
    .navbar-link-separator{
        display:none !important;
    }

}
@media (max-width: 460px) {
    .navbar-brand{
        width: 225px !important;

    }
}